.mainContent {
  padding-top: var(--size-64);
  width: 100%;
  // overflow-x: hidden;
  .contentWrapperNoDoc {
    padding: {
      top: var(--size-64);
    }
  }
  .contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    @media (min-width: 768px) {
      padding-left: var(--nav-width);
    }
    .content {
      flex: 1 1 auto;
      padding: {
        left: var(--size-32);
        right: var(--size-32);
      }
    }
    .body {
      flex: 1 1 auto;
      padding: {
        left: 0;
        right: 0;
      }
    }
    .tocWrapper {
      flex: 0 0 auto;
      margin-left: 0;
      width: 100%;
      @media (min-width: 1140px) {
        margin-left: var(--size-64);
        width: 13rem;
      }
    }
    .topWrapper,
    .topWrapperSmall {
      padding: {
        top: var(--size-64);
      }
      margin: 0 auto;
      .top {
        display: flex;
        flex-direction: column;
      }
    }
    .topWrapper,
    .bottomWrapper {
      width: var(--content-width);
    }
    .bottomWrapper,
    .bottomWrapperSmall {
      margin: 0 auto;
    }
    .topWrapperSmall,
    .bottomWrapperSmall {
      width: var(--content-width-small);
    }
    .bottom {
      flex-direction: column-reverse;
      display: flex;
      @media (min-width: 1140px) {
        flex-direction: row;
      }
    }
  }
}
