.hero {
  h1 {
    font: {
      size: 2.625rem;
    }
  }
  p,
  .primaryButton {
    font: {
      size: 1.31951rem;
    }
  }
  margin: 0 auto;
  margin-top: var(--size-64);
  margin-bottom: var(--size-64);
  max-width: 1080px;
  position: relative;
  height: auto;
  .contentWrapper {
    position: relative;
    top: 0;
    left: 0;
    z-index: var(--layer-1);
    display: flex;
    width: 100%;
    justify-content: center;
    @media (min-width: 768px) {
      position: absolute;
    }
    .content {
      flex: 0 1 auto;
      text-align: inherit;
      width: 100%;
      padding: var(--size-64) var(--size-32) var(--size-32) var(--size-32);
      @media (min-width: 768px) {
        text-align: center;
        padding-top: var(--size-128);
        width: 800px;
      }
      .primaryButton {
        display: inline-block;
        transition: box-shadow var(--duration-0) var(--easing-accelerate);
        color: var(--color-bg);
        padding: var(--size-16);
        background-color: var(--color-purple);
        border-radius: var(--radius-2);
        // box-shadow: var(--elevation-1);
        border-bottom: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
        &:hover {
          box-shadow: var(--elevation-3);
        }
        &:active {
          box-shadow: var(--elevation-1);
        }
      }
    }
  }
  .playerWrapper {
    @media (min-width: 768px) {
      display: inherit;
      z-index: var(--layer-0);
      position: relative;
      padding-top: 66.66%; /* Player ratio: 100 / (1080 / 720) */
      .reactPlayer {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    display: none;
  }
}
.linkTree {
  display: flex;
  padding: var(--size-32);
  justify-content: center;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  .link {
    border-bottom: none;
    flex: 1 1 auto;
    width: 100%;
    color: var(--color-text);
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  .resources,
  .contribute {
    overflow: hidden;
    box-shadow: var(--elevation-1);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transition: all var(--duration-1) var(--easing-decelerate);
    border-radius: var(--radius-2);
    margin: 0 0 var(--size-32) 0;
    background-color: var(--color-bg);
    .text {
      flex: 1 1 auto;
      padding: var(--size-32);
      h2 {
        margin-bottom: var(--size-16);
      }
      p {
        margin-bottom: 0;
      }
    }
    .img {
      flex: 0 0 auto;
      width: var(--size-128);
      background-color: var(--color-grey-500);
    }
    &:hover {
      transform: translateY(calc(var(--size-4) * -1));
      box-shadow: var(--elevation-4);
    }
    &:active {
      box-shadow: var(--elevation-3);
      transform: translateY(0);
    }
    @media (min-width: 768px) {
      margin: 0 var(--size-32) var(--size-32) var(--size-32);
    }
  }
}
