.opacity {
  transition: opacity var(--duration-2) var(--easing-decelerate);
  &.opOff,
  &.opOn {
    opacity: 1;
  }
  @media (min-width: 768px) {
    &.opOff {
      opacity: 0.1;
    }
  }
  &:hover {
    opacity: 1;
  }
}