.accordion {
  background-color: var(--color-bg);
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .Accordionlink {
      color: inherit;
      border: {
        bottom: none;
      }
      &:hover {
        color: var(--color-purple);
      }
      li {
        margin: {
          bottom: 0;
        }
        &::before {
          transition: transform var(--duration-0) var(--easing-accelerate);
          margin-top: 8px;
          position: absolute;
          left: var(--size-8);
          content: "";
          height: 6px;
          width: 6px;
          transform: scale(0);
          border-radius: var(--radius-100);
          background-color: var(--color-purple);
        }
        &:hover {
          &::before {
            transform: scale(1);
          }
        }
        padding: var(--size-8) var(--size-8) var(--size-8) var(--size-24);
        &:last-child {
          margin: {
            bottom: 0;
          }
        }
      }
    }
    .Accordionlink[aria-current="page"] {
      li {
        font: {
          weight: var(--font-weight-bold);
        }
        color: var(--color-purple);
        &::before {
          transform: scale(1);
        }
      }
    }
  }
  &:last-child {
    border: {
      bottom: solid 1px var(--color-grey-300);
    }
  }
  .accordion__button {
    cursor: pointer;
    padding: var(--size-8);
    align-items: center;
    display: flex;
    flex-direction: row;
    border: {
      top: solid 1px var(--color-grey-300);
    }
    background-color: var(--color-bg);
    &:hover {
      color: var(--color-purple);
      background-color: var(--color-purple-light);
    }
    &::before {
      content: "";
      transition: transform var(--duration-1) var(--easing-standard);
      flex: 0 0 auto;
      height: 8px;
      width: 8px;
      margin: {
        right: var(--size-8);
      }
      border: {
        bottom: 2px solid currentColor;
        right: 2px solid currentColor;
      }
      transform: rotate(-45deg);
    }
    &[aria-expanded="true"],
    &[aria-selected="true"] {
      color: var(--color-purple);
      background-color: var(--color-purple-light);
      &::before {
        transform: rotate(45deg);
      }
      border: {
        bottom: solid 1px var(--color-grey-300);
      }
    }
  }
}
