.checkbox {
  h3,
  form {
    margin-bottom: 0;
  }
  .label {
    display: flex;
    user-select: none;
    cursor: pointer;
    .wrapper {
      display: flex;
      flex: 0 0 auto;
      margin-right: var(--size-8);
      width: var(--size-24);
      height: var(--size-24);
      box-shadow: var(--elevation-1);
      justify-content: center;
      align-items: center;
      width: var(--size-24);
      height: var(--size-24);
      border-radius: var(--radius-2);
      transform: scale(1);
      vertical-align: middle;
      background-color: var(--color-bg);
      border: 1px solid var(--color-purple);
      transition: all var(--duration-1) var(--easing-decelerate);
      svg {
        flex: 0 0 auto;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: var(--color-bg);
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: var(--size-16);
        stroke-dashoffset: var(--size-16);
        transition: all var(--duration-2) var(--easing-decelerate);
        transition-delay: var(--delay-0);
      }
      &:hover {
        background-color: var(--color-purple-light);
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--color-purple);
        transform: scale(0);
        opacity: 1;
        border-radius: 50%;
      }
    }
    &:hover {
      .svgWrapper {
        &:first-child {
          border-color: var(--color-purple);
        }
      }
    }
    .input {
      display: none;
      &:checked {
        + .wrapper {
          background: var(--color-purple);
          border-color: var(--color-purple);
          animation: pulse var(--duration-2) var(--easing-accelerate);
          &:before {
            transform: scale(3.5);
            opacity: 0;
            transition: all var(--duration-3) var(--easing-standard);
          }
          svg {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
  @keyframes pulse {
    50% {
      transform: scale(0.97);
    }
  }
  .helpWrapper {
    margin: var(--size-16) 0 2.5rem 0;
    font: {
      size: var(--font-size-small);
    }
    border: solid 1px var(--color-grey-300);
    border-radius: var(--radius-2);
    .topWrapper {
      border-radius: var(--radius-2) var(--radius-2) 0 0;
      padding: var(--size-16);
      color: var(--color-grey-900);
    }
    .bottomWrapper {
      border-radius: 0 0 var(--radius-2) var(--radius-2);
      display: flex;
      align-items: center;
      padding: var(--size-16);
      background-color: var(--color-purple-light);
      a {
        display: inline-block;
        margin-right: var(--size-32);
      }
      .svg,
      svg {
        color: var(--color-purple);
        height: var(--size-16);
        width: var(--size-16);
        margin-right: var(--size-32);
      }
    }
  }
}
