.navWrapper {
  background-color: var(--color-bg);
  font: {
    size: var(--font-size-small);
  }
  height: auto;
  position: inherit;
  top: inherit;
  .li {
    color: var(--color-grey-700);
    margin: {
      bottom: var(--size-8);
    }
  }
  @media (min-width: 768px) {
    position: sticky;
    top: var(--size-128);
  }
  .tocLink {
    color: var(--color-grey-700);
    border: {
      bottom: none;
    }
    &:hover {
      color: var(--color-purple);
      border: {
        bottom: 1px solid var(--color-purple);
      }
    }
  }
  .navTitle {
    color: var(--color-grey-900);
    letter-spacing: var(--tracked-loose);
    font-weight: var(--font-weight-default);
    text-transform: uppercase;
    margin-bottom: var(--size-24);
    font: {
      size: var(--font-size-small);
    }
  }
}
